<a href="https://colab.research.google.com/github/Helicorn/HwarangE/blob/master/4%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC14_16%ED%99%94_%EA%B9%80%EB%8C%80%ED%98%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

####**제출 방법 안내**
상단 파일명(4일차_파이썬14_16화.ipynb)을 4일차_파이썬14_16화_000(본인이름).ipynb로 변경후 아래 링크로 접속 후 본인 이름의 폴더에 제출해주면 됩니다.

제출 링크 :

####**답변 입력 방법 안내**
"답변"이라고 적힌란을 마우스로 더블 클릭하시면 글을 작성할 수 있습니다.

텍스트에 글을 더 잘 작성하기 위해서는 마크다운 언어를 공부하시면 됩니다.

**(구글 검색 창에 "코랩 마크다운" 검색)**

##문제1

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   

x = 2, n =5

In [ ]:
x = 2
n =5
for y in range(x,n*x+1,x):
    print(y)

2
4
6
8
10

##문제2

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  

출력 예시 : "0101234****"

In [24]:
phone_number="01012347890"
x=[]
for y in range(len(phone_number)):
    if y<7:
        x.append(phone_number[y])
    else:
        x.append('*')
print(''.join(x))

0101234****

##문제3

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [23]:
s = "77three4one"  #우리가 바꿔야할 숫자

snum=['zero','one','two','three','four','five','six','seven','eight','nine']
vnum=["0","1","2","3","4","5","6","7","8","9"]
tnum=dict(zip(snum,vnum)) #키값과 밸류값을 dict와 zip을 이용해 한번에 넣어 딕셔너리를 만든다
#print(tnum)

rfnum=list(s)
renum=[]
i=0
while i < len(rfnum):
    if rfnum[i] in vnum:
        renum.append(rfnum[i])
        i+=1
    else:
        x=''.join(rfnum[i:i+2]) #앞의 2글자를 따로 때어놓는 명령문(''.join 명령어를 이용해 문자 2개를 아무런 형식없이 일자로 출력하게 도와줌)
        #print(x)
        for z in snum:
            if str(z)[:2] == x: #따로 때어놓은 앞의 2글자를 비교해 맞으면 밸류값을 저장
                renum.append(tnum[z])
                i+= len(z)  #문자의길이만큼 더해줘 오류가 나지않게 해줌
                break   #반복문 강제탈출

print(''.join(renum))

77341

##문제4

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 2개의 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [18]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
result= []
for i in range(2):      #for문은 원하는 자리의 숫자를 뽑기위해 다중 for문을 이용함
    exv=[]              #원하는 값을 빼온 뒤 더한 값을 저장해 놓을 임시변수 선언
    for j in range(2):
        exv.append(arr1[i][j]+arr2[i][j])   #원하는값을 리스트값에 넣을으로써 원본의 형태인 다중리스트의 형태를 하기위해 작은 리스트 값을 작성하는것
    result.append(exv)                      #작은 리스트를 큰 리스트의 안으로 넣음으로써 원본의 형태를 만들어줌
print("result = ",result)

result =  [[4, 6], [7, 9]]

##문제5

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [ ]:
x=int(input())
tx=x//10    #input으로 들어온 x의 값을 10으로 나누어 나온 값으로 10의자리 숫자를 구함
ix=x%10     #input으로 들어온 x의 값을 10으로 나누어 나온 나머지로 1의 자리 숫자를 구함
if(x%(tx+ix)==0):
    print("true")       #10의자리 1의자리를 더한 값이 x값으로 나누어 떨어질 경우 true
else:
    print("false")

13
false

##문제6

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

결과
"김서방은 1에 있다"

In [ ]:
seoul = ["Jane", "Kim"]
for i in range(2):
    if(str(seoul[i]) == "Kim"): #만약 seoul의 i번째 객체중 Kim과 같은것이 있다면 실행
        x=i
print(f"김서방은 {x}에 있다")

김서방은 1에 있다

##문제7

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [29]:
numbers = [5,8,1,0,6,9]

nonum = list(range(0,10))   #0부터 9까지 숫자를 리스트로 만들어 비교할 값을 만들어 줌

renum=list(set(nonum)-set(numbers)) #비교할값 nonum에서 빼야할 값 numbers를 set을 이용해 차집합으로 나누어 준 뒤 list의 형태로 renum에 넣어줌
#print(renum)

x=0     #변수 x에 트레쉬값이 없도록 변수 초기화

for i in range(len(renum)): #renum의 길이만큼 반복
    x += renum[i] #x에 차집합으로 남은 수들을 더해줌
print(x)

16